.card-control-class {
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid rgb(81, 71, 71);
    border-radius: 12px;
    height: 5vh;
    width: 25vw;
    margin: auto;
    padding: 1rem;
    margin-top: 1vh;
}